<div class="col-xs-12" *ngIf="isLoading" style="text-align: center;align-self: center;">
    <br /><br />
    <img src="/assets/images/SwallowCatch.png">
    <br /><br /> <br /><br />
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
    <div class="col-12 row">
        <div class="alert alert-danger response-message" *ngIf="errorMessage">
            <p>
                {{ errorMessage }}<mat-icon>cancel</mat-icon>
            </p>
        </div>
        <div class="alert alert-success response-message" *ngIf="successMessage">

            <p>
                {{ successMessage }} <mat-icon>check_circle</mat-icon>
            </p>
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-9">
            <br />
            <div class="row col-12">
                <div class="col-6">
                    <div style="margin: 1rem;">
                        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"
                            href="#!"><i class="fas fa-bars"></i></button>
                        <form class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                            <div class="input-group">
                                <input class="form-control"
                                    style="direction: rtl;border-radius:0rem 0.375rem 0.375rem 0rem;" type="text"
                                    placeholder="ابحث عن مستخدم..." aria-label="Search for..." name="searchText"
                                    (change)="onSearch()" aria-describedby="btnNavbarSearch" [(ngModel)]="searchText" />
                                <button class="btn btn-primary"
                                    style="direction: rtl;border-radius:0.375rem 0rem 0rem 0.375rem;vertical-align: middle;"
                                    id="btnNavbarSearch" type="button" (click)="onSearch()">
                                    <mat-icon>search</mat-icon></button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-6">

                    <div style="text-align: left;margin: 1rem;">
                        <!-- <button class="btn btn-success field-lable" (click)="openAddEndPointDialog()">إضافة نقطة اتصال جديدة <mat-icon>add</mat-icon></button> -->
                    </div>
                </div>
            </div>
            <br />          
            <ng-container *ngIf="allUsers!=null && allUsers.length>0">
                
                <table mat-table style="width: 100%;" class="data-table">
                    <thead>
                        <tr>                        
                            <th mat-header-cell> الاسم</th>
                            <th mat-header-cell>المسمى الوظيفي</th>
                            <th mat-header-cell>الجنس</th>
                            <th mat-header-cell>الإدارة</th>
                            <th mat-header-cell>تفعيل/تعطيل</th>
                            <th>خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let source of allUsers">
                            <tr style="border-top:solid #f9f9f9;">
                                <td mat-cell>{{ source.fullName}}</td>   
                                <td mat-cell>{{ source.jobTitle}}</td>                             
                                <td mat-cell>{{ source.gender ?'ذكر':'أنثى'}}</td>             
                                <td mat-cell>
                                    <!-- {{ source.department}} -->
                                </td> 
                                <td mat-cell>{{ source.isActive?'فعال':'معطل'}}</td>   
                               
                                <td>
                                    <button mat-fab color="primary" type="button" >
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </tr>                           
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngIf="allUsers==null || allUsers.length==0">

                <div style="text-align: center;">
                    <br />
                    <h1>لا يوجد بيانات </h1>
                    <img src="/assets/images/NotFound.svg" style="vertical-align:top;">
                </div>
            </ng-container>
        </div>
        <div class="col-3" style="text-align: center;">
            <div class="row">
                <div class="row svg-limited">
                    <img src="/assets/images/manage-end-points.svg">
                </div>
                <br /><br />
                <div class="row">
                    <div class="card blue-card">
                      استعراض المستخدمين المسجلين في النظام
                    </div>
                </div>
            </div>
        </div>
      

    </div>
</div>
