p {
    font-family: 'bahij';
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  button
  {
font-family: 'Bahij' !important;
  }

  .analog-clock {
    position: relative;
    margin: 100px auto 0;
    width: 160px;
    height: 160px;
    background-color: aliceblue;
    border-radius: 50%;
  }

  .hand {
    position: absolute;
    left: 50%;
    width: 1.5px;
    height: 80px;
    /* 자바스크립트에 의해 덮어써진다. */
    /* transform: translate3d(-50%, 0, 0); */
    transform-origin: 100% 100%;
  }

  .hour {
    background-color: #f44336;
    height: 50px;
    top:30px
  }

  .minute {
    background-color: #3f51b5;
    height: 60px;
    top:20px
  }

  .second {
    background-color: #9e9e9e;
    height: 70px;
    top:10px
  }

  .center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
  }

  .digital-clock {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
  }