<div class="col-xs-12" *ngIf="isLoading" style="text-align: center;align-self: center;">
    <br /><br />
    <img src="/assets/images/SwallowCatch.png">
    <br /><br /> <br /><br />
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
    <div class="col-12 row">
        <div class="alert alert-danger response-message" *ngIf="errorMessage">
            <p>
                {{ errorMessage }}<mat-icon>cancel</mat-icon>
            </p>
        </div>
        <div class="alert alert-success response-message" *ngIf="successMessage">

            <p>
                {{ successMessage }} <mat-icon>check_circle</mat-icon>
            </p>
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-9">
            <br />
            <div class="row col-12">
                <div class="col-6">
                    <div style="margin: 1rem;">
                        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"
                            href="#!"><i class="fas fa-bars"></i></button>
                        <form class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                            <div class="input-group">
                                <input class="form-control"
                                    style="direction: rtl;border-radius:0rem 0.375rem 0.375rem 0rem;" type="text"
                                    placeholder="ابحث عن مرحلة..." aria-label="Search for..." name="searchText"
                                    (change)="onSearch()" aria-describedby="btnNavbarSearch" [(ngModel)]="searchText" />
                                <button class="btn btn-primary"
                                    style="direction: rtl;border-radius:0.375rem 0rem 0rem 0.375rem;vertical-align: middle;"
                                    id="btnNavbarSearch" type="button" (click)="onSearch()">
                                    <mat-icon>search</mat-icon></button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-6">

                    <div style="text-align: left;margin: 1rem;">
                        <button class="btn btn-success field-lable" (click)="openAddSubmitStageDialog()">إضافة مرحلة
                            جديدة <mat-icon>add</mat-icon></button>
                    </div>
                </div>
            </div>
            <br />
            <ng-container *ngIf="allSubmitStages!=null && allSubmitStages.length>0">

                <table mat-table style="width: 100%;" class="data-table">
                    <thead>
                        <tr>
                            <th mat-header-cell> اسم المرحلة </th>
                            <th mat-header-cell>اسم الخدمة</th>
                            <th mat-header-cell>من تاريخ</th>
                            <th mat-header-cell>إلى تاريخ</th>
                            <th mat-header-cell>الحالة</th>
                            <th mat-header-cell>تفعيل/تعطيل</th>
                            <th>خيارات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let source of allSubmitStages">
                            <tr style="border-top:solid #f9f9f9;">
                                <td mat-cell>{{ source.name}}</td>
                                <td mat-cell>{{ source.service.name}}</td>
                                <td mat-cell>{{ source.fromDate | date:'yyyy-MM-dd' }}</td>
                                <td mat-cell>{{ source.toDate | date:'yyyy-MM-dd' }}</td>
                                <td mat-cell>{{ source.isActive ? 'فعالة' : 'معطلة'}}</td>
                                <td mat-cell>
                                    <section class="example-section">
                                        <mat-slide-toggle class="example-margin"
                                            (click)="onChangeSubmitStageStatus(source)" [checked]='source.isActive'
                                            color="alert-success">
                                        </mat-slide-toggle>
                                    </section>
                                </td>
                                <td>
                                    <button mat-fab color="primary" type="button"
                                        (click)="openUpdateSubmitStageDialog(source.id)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngIf="allSubmitStages==null || allSubmitStages.length==0">

                <div style="text-align: center;">
                    <br />
                    <h1>لا يوجد بيانات </h1>
                    <img src="/assets/images/NotFound.svg" style="vertical-align:top;">
                </div>
            </ng-container>
        </div>
        <div class="col-3" style="text-align: center;">
            <div class="row">
                <div class="row svg-limited">
                    <img src="/assets/images/manage-submit-stages.svg">
                </div>
                <br /><br />
                <div class="row">
                    <div class="card blue-card">
                        إدارة مراحل إتاحة تقديم طلبات - للخدمات المرتبطة بمراحل فقط - و يمكنك إضافة مرحلة جديدة وتعديل
                        المراحل </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-5 modal" id="model_AddSubmitStage" style="display:none;">
        <div class="modal-content">
            <span (click)="closeAddSubmitStageModal()" class="close">&times;</span>
            <div class="card border-0 rounded-lg">
                <div class="form-control" style="background-color: #f9f9f9;">
                    <h1 class="modal-h1-header">إضافة مرحلة جديدة</h1>
                </div>
                <div class="card-body" *ngIf="!isLoading">
                    <form [formGroup]="addSubmitStageForm" (ngSubmit)="onAddSubmitStage(addSubmitStageForm)">
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="name" required  />
                            <label for="name">اسم المرحلة</label>
                        </div>
                        <div class="form-floating mb-3">
                            <mat-select class="field-lable form-control" formControlName="serviceId">
                                <mat-option class="field-lable" color="primary" value="-1">اختر الخدمة
                                </mat-option>
                                <mat-option class="field-lable" color="primary" *ngFor="let srv of services"
                                    [value]="srv.id">
                                    {{srv.name }}</mat-option>
                            </mat-select>
                            <label for="serviceId">الخدمة</label>
                        </div>
                        <div class="form-floating  form-control mb-3">
                            <mat-form-field placeholder="تاريخ المرحلة" style="width: 100%;">
                                <mat-label for="fromDateToDate">من تاريخ إلى تاريخ </mat-label>
                                <mat-date-range-input [min]="minDate"
                                    [formGroup]="addSubmitStageForm.value.fromDateToDate" [max]="maxDate" required
                                    [rangePicker]="picker" matinput>
                                    <input matStartDate placeholder="من تاريخ" formControlName="start">
                                    <input matEndDate placeholder="إلى تاريخ" formControlName="end">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker [startAt]="minDate"></mat-date-range-picker>
                            </mat-form-field>
                            <div *ngIf="(addSubmitStageForm.value.fromDateToDate.value==='' || !addSubmitStageForm.value.fromDateToDate.valid) && addSubmitStageForm.value.fromDateToDate?.touched"
                                style="color: red;text-align: right;">تاريخ المرحلة مطلوب </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="submit"
                                [disabled]="!addSubmitStageForm.valid">إضافة</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6 " *ngIf="isLoading" style="text-align: center;">
                    <br /><br />
                    <app-loading-spinner></app-loading-spinner>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row justify-content-center">

    <div class="col-lg-5 modal" id="model_UpdateSubmitStage" style="display:none;">
        <div class="modal-content">
            <span (click)="closeUpdateSubmitStagesModal()" class="close">&times;</span>
            <div class="card border-0 rounded-lg">
                <div class="form-control" style="background-color: #f9f9f9;">
                    <h1 class="modal-h1-header">تعديل المرحلة</h1>
                </div>
                <div class="card-body" *ngIf="!isLoading">

                    <form [formGroup]="updateSubmitStagesForm"  (ngSubmit)="onUpdateSubmitStages(updateSubmitStagesForm)">
                        <input type="hidden" formControlName="id"  />
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="name" required  />
                            <label for="name">اسم المرحلة</label>
                        </div>
                         <div class="form-floating mb-3">
                            <mat-select class="field-lable form-control" formControlName="serviceId">
                                <mat-option class="field-lable" color="primary" value="-1">اختر الخدمة
                                </mat-option>
                                <mat-option class="field-lable" color="primary" *ngFor="let srv of services"
                                    [value]="srv.id">
                                    {{srv.name }}</mat-option>
                            </mat-select>
                            <label for="serviceId">الخدمة</label>
                        </div>
                       <div class="form-floating  form-control mb-3">
                            <mat-form-field placeholder="تاريخ المرحلة" style="width: 100%;">
                                <mat-label for="fromDateToDate">من تاريخ إلى تاريخ </mat-label>
                                <mat-date-range-input [min]="minDate"
                                    [formGroup]="updateSubmitStagesForm.value.fromDateToDate" [max]="maxDate" required
                                    [rangePicker]="picker" matinput>
                                    <input matStartDate placeholder="من تاريخ" formControlName="start">
                                    <input matEndDate placeholder="إلى تاريخ" formControlName="end">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker [startAt]="minDate"></mat-date-range-picker>
                            </mat-form-field>
                            <div *ngIf="(updateSubmitStagesForm.value.fromDateToDate.value==='' || !updateSubmitStagesForm.value.fromDateToDate.valid) && updateSubmitStagesForm.value.fromDateToDate?.touched"
                                style="color: red;text-align: right;">تاريخ المرحلة مطلوب </div>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="submit"
                                [disabled]="!updateSubmitStagesForm.valid">تعديل</button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6 " *ngIf="isLoading" style="text-align: center;">
                    <br /><br />
                    <app-loading-spinner></app-loading-spinner>
                </div>
            </div>
        </div>
    </div>



</div>