<div *ngIf="isDataLoaded">
    <div class="row col-12" style="margin: 2%;">
        <div class="col-7">
            <div style="float: right;">

                <div class="card"
                    style="border: 1px solid ;border-color: #1673FD;text-align: right;padding: 10px;background-color: transparent;">
                    <h1
                        style="font-family: forte !important;background-color: #1673FD;border-radius: 10px;text-align: center;color: white;padding-bottom: 0px;">
                        FlowFly</h1>
                    موقع خدمات إلكترونية يستطيع المستخدم من خلاله تقديم طلبات ومتابعتها واعتماد مهامه
                    ويمكّن مدير النظام من إنشاء خدمات إلكترونية جديدة بكل يسر وسهولة و بدون مبرمج
                    بتقنية <span style="font-weight: bold;">Low-Code No-Code </span>
                    ويمكن الربط مع خدمات إلكترونية خارجية لاستعادة وإرسال البيانات
                    <br /><br />
                    <div style="font-weight: bold;text-align: center;">
                        <img  src="/assets/icons/CircleLogoNoLeather.png" width="35"  ><span style="font-size: larger;" > flowfly </span> </div><br/>
                        تم اختيار اسم المنتج  اختصارا لعبارة : work flow on the fly
                    و اعتماد طائر السنونو كشعار له للإشارة إلى سرعة و رشاقة إنشاء الخدمات ونشرها بدون مبرمج
                    (عالطاير) كمايلتقط السنونو ريشة تائهة في الجو.
                    <br />
                    <div style="text-align: left;">


                        المطور المهندس <span style="font-weight: bold;">خالد طربوش</span>
                    </div>
                </div>
                <br />

            </div>

        </div>
        <div class="col-5" style="text-align: center;">
            <div class="row col-12">
                <div class="row">
                    <br /> <br />
                </div>
                <div class="row">

                    <!-- <img src="/assets/images/authBG2_.png" style="width: 100%;max-height: 300px;"> -->
                    <img src="/assets/images/svgs/blackSwallowWithLeather.svg" style="width: 100%;max-height: 200px;">
                </div>


            </div>
        </div>
    </div>
    <div class="row col-12" style="margin: 2%;">
        <div class="card" style="border: 1px solid ;border-color: #1673FD;text-align: center;padding: 10px;background-color: transparent;">
            <div>
                <h1
                    style="font-family: forte !important;background-color: #1673FD;border-radius: 10px;text-align: center;color: white;padding-bottom: 0px;">
                    التقنيات والأدوات المستخدمة في تطوير البوابة</h1>
                <img src="/assets/images/UsedTechs/cSharp.svg" class="Used-Tech-image" title="C Sharp">
                <img src="/assets/images/UsedTechs/dot-net-core-7.svg" class="Used-Tech-image" title=".net core">
                <img src="/assets/images/UsedTechs/visual-studio-svgrepo-com.svg" class="Used-Tech-image"
                    title="visual studio">
                <img src="/assets/images/UsedTechs/vs-code-svgrepo-com.svg" class="Used-Tech-image"
                    title="visual studio code">
                <img src="/assets/images/UsedTechs/microsoft-sql-server-1.svg" class="Used-Tech-image"
                    title="SQL Server">
                <img src="/assets/images/UsedTechs/highcharts.svg" class="Used-Tech-image" title="HighCharts">
                <img src="/assets/images/UsedTechs/angular-icon-svgrepo-com.svg" class="Used-Tech-image"
                    title="Angular">
                <img src="/assets/images/UsedTechs/javascript-svgrepo-com.svg" class="Used-Tech-image"
                    title="JavaScript">
                <img src="/assets/images/UsedTechs/typescript.svg" class="Used-Tech-image" title="TypeScript">
                <img src="/assets/images/UsedTechs/html-1.svg" class="Used-Tech-image" title="HTML">
                <img src="/assets/images/UsedTechs/css-3.svg" class="Used-Tech-image" title="CSS">
                <img src="/assets/images/UsedTechs/jwtio-json-web-token.svg" class="Used-Tech-image" title="Jason web token">
                <img src="/assets/images/UsedTechs/azure-2.svg" class="Used-Tech-image" title="Azure Cloud Service">
            </div>
        </div>
    </div>
</div>