/* .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 20% !;
    float: right;
    padding: 10px;

} 
p {
    font-family: 'bahij';
  }

  .mat-tab-label {
    min-width: 250px !important; 
    padding: 50px;
    
  } */