<div class="col-xs-12" *ngIf="isLoading" style="text-align: center;align-self: center;">
    <br /><br />
    <img src="/assets/images/SwallowCatch.png">
    <br /><br /> <br /><br />
    <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
    <div class="col-12 row">
        <div class="alert alert-danger response-message" *ngIf="errorMessage">
            <p>
                {{ errorMessage }}<mat-icon>cancel</mat-icon>
            </p>
        </div>
        <div class="alert alert-success response-message" *ngIf="successMessage">

            <p>
                {{ successMessage }} <mat-icon>check_circle</mat-icon>
            </p>
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-9">
            <br/>          
            <form class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" style="direction: rtl;border-radius:0rem 0.375rem 0.375rem 0rem;"
                        type="text" placeholder="ابحث عن خدمة ..." aria-label="Search for..."
                        aria-describedby="btnNavbarSearch" name="searchText" (change)="onSearch()"
                        [(ngModel)]="searchText" />
                    <button class="btn btn-primary"
                        style="direction: rtl;border-radius:0.375rem 0rem 0rem 0.375rem;vertical-align: middle;"
                        id="btnNavbarSearch" type="button" (click)="onSearch()">
                        <mat-icon>search</mat-icon></button>
                </div>
            </form>
            <br /><br />
            <ng-container *ngIf="servicesCount>0">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab *ngFor="let category of servicesCategories"
                        style="min-width: 120px !important;flex-flow: wrap;">
                        <ng-template mat-tab-label >
                            <div>
                                <mat-card-header>
                                    <h1 class="tab_header">
                                        <!-- style="color:rgb(13, 110, 253);padding: 10px;margin: 30px;font-family: 'bahij';"> -->
                                        <mat-icon style="margin: 5px;float: right;">devices</mat-icon>
                                        {{ category.name }}
                                    </h1>
                                </mat-card-header>
                            </div>
                        </ng-template>
                        <br /><br />

                        <!-- <ng-container  *ngFor="let srv of category.services" style="border:0px;"> -->
                        <div class="col-12">
                            <div *ngIf="category.services.length==0" style="text-align: center;font-weight: bold;">
                                <br/>
                                <br/>
                                لايوجد خدمات متاحة
                            </div>
                            <div class="col-4 float-child" (click)="redirectToRequestForm(srv)"
                                *ngFor="let srv of category.services" ngbTooltip="{{srv.description}}">
                                <div class="card bg-light border-0 h-100" >
                                    <img src="assets/icons/newService.png" width="60 em" style="background-repeat:no-repeat;
                                    display:inline-block;"
                                     *ngIf="isNewService(srv.createdOn)" />
                                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                            <i><mat-icon>description</mat-icon></i>
                                        </div>
                                        <h2 class="fs-4 fw-bold"
                                            style="font-family: 'Bahij';font-weight: 100 !important;">
                                            {{srv.name}}</h2>
                                        <p class="mb-0" style="font-size: 12px;text-wrap: wrap;">

                                            {{ srv.description.length > 30 ? srv.description.substring(0,28)+'...':
                                            srv.description
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </ng-container> -->
                    </mat-tab>
                </mat-tab-group>
            </ng-container>
            <ng-container *ngIf="servicesCount==0">

                <div style="text-align: center;">
                    <br />
                    <h1>لا يوجد خدمات </h1>
                    <img src="/assets/images/NotFound.svg" style="vertical-align:top;">
                </div>
            </ng-container>
        </div>
        <div class="col-3" style="text-align: center;">
            <div class="row svg-limited">
                <img src="/assets/images/MyServiceBoyAndGirlStand.svg">
            </div>
            <div class="row col-12">
                <div class="card blue-card">
                    يمكنك الدخول إلى الخدمات الظاهرة وتقديم طلب
                </div>
            </div><br /><br>


             <span style="font-family: forte;font-size: 36px;text-align: center;">
                <a routerLink="/home/flowfly" routerLinkActive="selectedLink"><img src="/assets/icons/FlowFlyLogoBlue.png" ngbTooltip="تعريف بFlowFly" style="width: 120px;padding-right: 10px;font-family: forte !important;"></a>
                FlowFly</span><br><br>
                <span style="font-family: forte;">work flows on the fly</span>
                
        </div>
    </div>
</div>