<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure default document is index.html -->
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Handle Angular routing by redirecting all requests to index.html -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to index.html to let Angular handle routing -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
